body
{
	background-color: black;
}
.res
{
	background-color: black;
	text-align: center;
	color: white;
}
.name
{
	background-color: rgb(18, 15, 17);
	position: relative;
	width: 100%;
	height: 180px;
	color: white;
	border: 2px solid red;
}
.img
{	
	padding: 10px;
	position: absolute;
	left:3%;
	top: 4%;
}
.img>img
{
	border-radius: 50%;
	border: 2px solid white;
}
.ns
{
	position: absolute;
	font-size: small;
	left: 30%;
	top: 10%;
}
.ns>h3>img
{
	position: relative;
	top: 5px;
	margin-top: -10px;
	border-radius: 50%;
	border: 2px solid springgreen;
	
	
}
.ns>h3>a:hover
{
	color: white;
}
.lk
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 25%;
	bottom: -10px;
}
.lk>h4
{
	margin-left:62px;
	text-decoration: none;
}
.lk>h4>a:hover
{
	color: white;
}
.lk>h4>a>img
{
	position: relative;
	top: 5px;
	margin-top: -10px;
	border-radius: 50%;
	border: 2px solid springgreen;
}
.ad
{
	position: absolute;
	right: 5%;
	top: 10px;
}
.tech
{	
	
	margin: 5px;
 	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	padding: 10px;
	
	width: 97%;

}
.tech>a
{
	
	background-color: rgb(15, 7, 7);
	padding: 5px;
	border: 2px solid springgreen;
	text-decoration: none;
	border-radius: 20px;
}
.tech>a:hover
{
	background-color: white;
	color: black;
	border: 2px solid red;
	padding: 7px;
}
.edu
{
	color: white;
}
.edu>table
{
	width: 100%;
	height: 300px;
	text-align: center;
	font-size: 18px;
	margin: 10px 0px;
}
.row>th
{
	background-color: brown;
}
body>h1
{
	color: white;
	text-align: center;
	background-color: orange;
}
.sill
{
	background-color:black;
	color: white;
}
.sill>div>h3
{
	text-decoration: dashed;
	background-color: brown;
	padding: 10px;
}
.sill>div>p
{	
	margin-left: 15px;
	
}
.sill>div>p>i{
	font-size: 12px;
}
.pro
{
	color: white;
}
.tl
{
	margin-left: 20px;
	color:cyan;
}
.ds
{
	margin-left: 20px;
}
.ds>div>span
{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
	;
	font-size: medium;
	text-decoration: underline;
	color: rgb(165, 42, 147);
}
.ds>div>p
{
	margin-left: 40px;
}
.tools
{
	color: white;
	margin-left: 40%;
}
.tools>h2>img
{
	border-radius: 50%;
	margin-left: 10px;
}
body>a
{
	color:black;
	text-decoration: none;
	background-color: antiquewhite;
	padding: 10px;
	border: 2px solid brown;
	margin-top: 10px;
}
body>a:hover
{
	background-color:cyan;
}
